
mixin kuchen(item)
	div.flexRow.flex1(style={'height': item.calories/target.calories*chartScale*1.2})
		div.slice.protein(style={'flex': item.protein})
		div.slice.carb(style={'flex': item.carb})
		div.slice.sugar(style={'flex': item.sugar})
		div.slice.unsatfat(style={'flex': item.unsatfat})
		div.slice.satfat(style={'flex': item.satfat})

head
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='main.css')

body
	a.fullRow.titleRow(href='/') K U C H E N
	div.fullRow.subtitleRow TODAY &#9660;

	div.fullRow.calorieCount
		span= actual.calories
		span  of 
		span= target.calories
	div.fullRow.calorieLabel CALORIES

	+kuchen(actual)

	div.spaceRow
	div.opacity50
		+kuchen(remaining)

	div.spaceRow

	div.fullRow.flexRow
		div.flex1
			div.remainder
				div.inlineBlock
					span= actual.protein
				div.inlineBlock
					span &nbsp;of&nbsp;
					span= target.protein
			div.filledRow.protein
			div PROTEIN
		div.flex1
			div.remainder 
				div.inlineBlock
					span= actual.carb+actual.sugar
				div.inlineBlock
					span &nbsp;of&nbsp;
					span= target.carb+target.sugar
			div.filledRow.carb
			div CARB
		div.flex1
			div.remainder
				div.inlineBlock
					span= actual.unsatfat+actual.satfat
				div.inlineBlock
					span &nbsp;of&nbsp;
					span= target.unsatfat+target.satfat
			div.filledRow.unsatfat
			div FAT

	div.spaceRow

	div.fullRow.subtitleRow FOOD LOG &#9660;
	div.spaceRow
	each item in foodLog
		div.flexRow.marginBottom1
			+kuchen(item)
			div.flexSpace
			div.flexHalf= item.quantity + 'g'
			div.flex2= item.name
	div.flexRow#addItemLine
		div.flexRow.flex1.addItemChart
			a.slice.addItemChartBox(href='/addItem') +
		div.flexSpace
		div.flexAddItem

	
	


